@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


@model ForgotPasswordDto

<form method="post" asp-controller="Auth" asp-action="ForgotPassword">
    <label for="Email">Email:</label>
    <input type="text" id="first" name="Email" placeholder="Enter your Email" required />
    @* <span asp-validation-for="Username" class="text-danger"></span> *@

    <label for="NewPassword">New Password:</label>
    <input type="password" id="password" name="NewPassword" placeholder="Enter your Password" required />

    <label for="ConfirmPassword">New Password:</label>
    <input type="password" id="password" name="ConfirmPassword" placeholder="Enter confirmPassword Password" required />

    <div class="wrap">
        <button type="submit" onclick="solve()">Submit</button>
    </div>

</form>


<a class="btn btn-success btn-sm" asp-controller="Home" asp-action="Index">Back to Home<i class="bi bi-trash"></i></a>

@*
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@