@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@model LoginRequestDto

<form method="post" asp-controller="Auth" asp-action="Login">
    <label for="Email">Email:</label>
    <input type="text" id="first" name="Email" placeholder="Enter your Email" required/>
    @* <span asp-validation-for="Username" class="text-danger"></span> *@

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your Password" required />
    <p><a asp-controller="Auth" asp-action="ForgotPassword" style="text-decoration: none; text-align: right; padding-left: 360px">Forgot Password</a></p>
    

    <div class="wrap">
        <button type="submit" onclick="solve()">Submit</button>
    </div>
</form>
<p>
    Not registered?
    <a asp-controller="Auth" asp-action="Register" style="text-decoration: none;">Create an account</a>
    
</p>

<a class="btn btn-success btn-sm" asp-controller="Home" asp-action="Index">Back to Home<i class="bi bi-trash"></i></a>

