@model UserDto


<form enctype="multipart/form-data">
    <br />
    @* <input hidden asp-for="ID" /> *@
    <div class="container border p-3">
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" disabled />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Email</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" class="form-control" rows="5" disabled />
               
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Phone Number</label>
            </div>
            <div class="col-10 pb-2">
                <input asp-for="PhoneNumber" class="form-control" disabled  />
            </div>

            <div class="col-5 offset-2">
                <input asp-controller="User" asp-action="UserEdit" asp-route-userId="@Model.ID" type="submit" value="Update Profile" class="btn btn-outline-success form-control" />
            </div>
            <div class="col-5">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary form-control ">Back to Home</a>
            </div>
        </div>
    </div>
</form>


@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@